<div class="col-md-2 sidebar">



    <div class="small-university-card">

        <img class="card-img-top" src="<%= school.logoPath %>" alt="">

        <div class="card-body">
            <h4 class="card-title green-darker"><%= school.institution %></h4>
            <h6 class="card-title green-darker">Location: <%= school.location %></h6>
        </div>

    </div>


    <div class="group top-border">

        <li class="list-group-item" id="first-section"><a  href="/schools/<%=school._id%>"> <i class="fas fa-info-circle"></i> General Info</a></li>

        <li class="list-group-item" id="second-section"><a  href="/schools/<%=school._id%>/module_mappings"><i class="fas fa-people-arrows"></i> Module Mappings</a></li>

        <li class="list-group-item" id="third-section"><a  href="/schools/<%=  school._id %>/additional_information"> <i class="fas fa-plus-circle"></i> Additional Info</a></li>
    </div>


</div>