
<!--Objects to pass in: Module Mappings-->
<%- include('../partials/header') %>

<%- include('../partials/schoolSidebar') %>


        <div class="col-md-10 module-mappings-list">
            <% var faculties = school.faculties; %>

            <h3 class="faculty-name-header"><%= faculty.name %></h3>

            <div class="dropdown">
                <button class="btn btn-primary-outline dropdown-toggle long-button dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= faculty.name %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="faculty-dropdown-menu">
                    <% faculties.forEach((faculty, index) => { %>
                    <a class="dropdown-item text" href="/schools/<%=school._id%>/<%= faculty._id %>/module_mappings"><%= faculty.name %></a>
                   <% }); %>
                </div>
            </div>

            <a href="/schools/<%= school._id %>/<%= faculty._id %>/module_mappings/new" class="btn btn-primary-outline long-button">Add Module Mapping      <i class="fas fa-plus"></i></a>


            <% faculty.moduleMappings.forEach((moduleMapping) => { %>

            <div class="module-mapping-container">
                <a class="module-mapping-card-link" href="/schools/<%= school._id %>/<%= faculty._id %>/module_mappings/<%= moduleMapping._id %>">
                    <div class="card-group module-mapping-card">
                        <div class="card local-module">
                            <div class="card-body">
                                <div class="module-code header-three"><%= moduleMapping.localModuleCode %></div>
                                <p class="module-name"><%= moduleMapping.localModuleName %></p>
                            </div>
                        </div>

                        <i class="fas fa-caret-right"></i>

                        <div class="card host-module">
                            <div class="card-body">
                                <div class="module-code header-three"><%= moduleMapping.moduleCode %> </div>
                                <p class="module-name"><%= moduleMapping.moduleName %></p>
                            </div>
                        </div>



                    </div>
                </a>

            </div>
            <% }); %>
</div>



</div>
</div>



<%- include('../partials/footer') %>



