<%- include("../partials/header") %>

<!--objects to pass in: current school, current faculty -->
<div class="container-fluid popup-container">

    <div class="row">
        <div class="col-md-12 ">

       <div class="module-mapping-header subheader-three center">Add New Module Mapping</div>


            <div class="module-mapping-header instructions">Take a screenshot of the Module Mapping Worksheet (<a href="/images/exampleWorksheet.png">example here</a>)
                <p class="small-font small-fixed-width">Takes about 5 seconds to process your image. <br>
                    The information is used to auto-fill the form below. <br>
                    Please double check that the values are correct (as it is not always accurate). <br>
                    The image to text system might not be able to read the FULL module synopsis.
                </p>
                <input type="file" name="worksheet_image"  id="image_input" accept="image/jpeg, image/png" class="btn" >
                <div class="loading-modal"><!-- Place at bottom of page --></div>
                <span id="progress-text"></span>
            </div>




            <p class="line-end big-bold">OR</p>
            <div class="module-mapping-header instructions">Manually enter the Module Mapping Worksheet</div>

        <div class="module-mapping-form">

            <form action="/schools/<%= schoolId %>/<%= facultyId %>/module_mappings" method="POST" id="new-mod-mapping-form">

                <div class="form-group module-form-div right-border">

                    <div class="subheader-two small-top-margin highlight-header">Partner University Module</div>

                    <table class="left-table">
                       <tr>
                           <th></th>
                           <th>Subject</th>
                           <th>Course Nbr</th>
                       </tr>
                        <tr>
                            <th>Module Code:</th>
                            <td><input class="form-control medium-input module-code-one" type="text" name="moduleMapping[moduleSubject]" required></td>
                            <td><input class="form-control medium-input" type="text" name="moduleMapping[moduleNbr]" required></td>
                        </tr>
                        <tr>
                            <th>Module Title:</th>
                            <td colspan="2"><input class="form-control medium-input-2" type="text" name="moduleMapping[moduleName]" required></td>
                        </tr>
                        <tr>
                            <th>Units/Credits:</th>
                            <td colspan="2"><input class="form-control small-input" type="number" step=".01" name="moduleMapping[moduleCredit]" required></td>
                        </tr>
                        <tr>
                            <th colspan="3" rowspan="1 ">Module Synopsis:</th>
                        </tr>
                        <tr>
                            <td colspan="3"><textarea form ="new-mod-mapping-form" name="moduleMapping[synopsis]" rows="3" cols="33" required ></textarea></td>
                        </tr>


                    </table>

                </div>

                <div class="form-group module-form-div">

                    <div class="subheader-two small-top-margin highlight-header">NUS Module</div>

                   <table class="right-table">
                       <tr></tr>
                       <tr>
                           <th>Module Subject Area: </th>
                           <td><input class="form-control" type="text" name="moduleMapping[localModuleSubject]" required></td>
                       </tr>
                       <tr>
                           <th>Module Catalog Nbr: </th>
                           <td><input class="form-control" type="text" name="moduleMapping[localModuleNbr]" required></td>
                       </tr>
                       <tr>
                           <th>Module Title: </th>
                           <td><input class="form-control" type="text" name="moduleMapping[localModuleName]" required></td>
                       </tr>
                       <tr>
                           <th>Units/Credits: </th>
                           <td><input class="form-control" type="number" step="0.01" name="moduleMapping[localModuleCredit]" required></td>
                       </tr>
                   </table>
                </div>


                <div class="form-group additional-info-div top-border">

                <div class="subheader-two small-top-margin highlight-header" >Partner University - Additional Information</div>

                <div class="form-group grid-table" >
                  <table>
                      <tr>
                          <th>Module Components</th>
                          <th>Contact hours per week</th>
                          <th>Remark</th>
                      </tr>
                      <tr>
                          <td>Lecture</td>
                          <td><input type="number" step="0.01" value="0.00" name="contactHours[lecture]" required></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Tutorials</td>
                          <td><input type="number" step="0.01" value="0.00" name="contactHours[tutorials]" required></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Practicals/Labs</td>
                          <td><input type="number" step="0.01" value="0.00" name="contactHours[practicals]" required></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>Others</td>
                          <td><input type="number" step="0.01" value="0.00" name="contactHours[others]" required></td>
                          <td><input type="text" name="contactHours[remarks]"></td>
                      </tr>
                  </table>
                </div>

                <div class="form-group grid-table" >
                    <table>
                        <tr>
                            <th>Assignment Method</th>
                            <th>Weightage(in %)</th>
                            <th>Remark</th>
                        </tr>
                        <tr>
                            <td>Exam</td>
                            <td><input type="number" step="0.01" value="0.00" name="weightage[exam]" required></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Assignment</td>
                            <td><input type="number" step="0.01" value="0.00" name="weightage[assignment]" required></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Quiz</td>
                            <td><input type="number" step="0.01" value="0.00" name="weightage[quiz]" required></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td><input type="number" step="0.01" value="0.00" name="weightage[others]" required></td>
                            <td><input type="text" name="weightage[remarks]"></td>
                        </tr>
                    </table>
                </div>

                <table class="bottom-table">
                    <tr>
                        <th>Weeks of Instruction: </th>
                        <td> <input class="form-control small-input" type="number" name="moduleMapping[instructionWeeks]" required></td>
                        <th>Total Weightage(in %): </th>
                        <td> <input class="form-control small-input" type="number" name="totalWeightage" required></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>URL for Module Details: </th>
                        <td colspan="5"> <input class="form-control" type="text" name="moduleMapping[url]" required></td>
                    </tr>
                    <tr>
                        <th>Other Information: </th>
                        <td colspan="5"> <input class="form-control" type="text" name="moduleMapping[otherInformation]" required></td>
                    </tr>
                    <tr>
                        <th>Indicate the Pre-Requisites modules for NUS mapped module (if any): </th>
                        <td colspan="5"> <input class="form-control" type="text" name="moduleMapping[prerequisite]" required></td>
                    </tr>
                </table>

                </div>

                <button type="submit" class="btn module-mapping-button">Submit</button>
            </form>
            <a href="/schools/<%= schoolId %>">Go Back</a>
        </div>
        </div>
    </div>
</div>
<script type="module" src="/javascripts/script.js"></script>
<%- include('../partials/footer') %>