<%- include("../partials/header") %>
<%- include("../partials/schoolSidebar") %>
<!--Objects to pass in: current school-->
<div class="col-md-10">
    <h3 class="title top-margin">Other Useful Links</h3>
    <table id="links-table" class="table">

      <colgroup>
          <col style="width:3%">
          <col style="width:10%">
          <col style="width:20%">
          <col style="width:15%">
          <col style="width:3%">
      </colgroup>
        <thead class="head-dark">
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <% school.links.forEach((link, index) => { %>
        <tr>
            <th scope="row"><%- index + 1 %></th>
            <td><%= link.title %> </td>
            <td><%= link.description %></td>
            <td><a href="<%= link.url %>"  target="_blank"><%= link.url %></a></td>
            <td>
                <% if(currentUser) { %>

                <form class="delete-form" action="/schools/<%= school._id %>/additional_information/<%= link._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                </form>
                <% } %>
            </td>
        </tr>
        <% }); %>

        </tbody>
    </table>

    <% if(currentUser) { %>
    <a class="btn btn-primary-outline long-button" href="/schools/<%= school._id %>/additional_information/new">Add New Link <i class="fas fa-plus" aria-hidden="true"></i></a>
    <% } %>

</div>


<%- include("../partials/footer") %>