<%- include('../partials/header') %>

      <%- include('../partials/generalSidebar') %>
        <div class="col-md-10">
            <form class="search-bar" action="/schools" method="POST">
                <input name="query_string" class="input-box form-control form-control-lg" type="search" autocomplete="off" placeholder="Search for Host University" onchange="submit()">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>




            <div class="row">
                <% schools.forEach(school => { %>

                <div class="col-lg-8 col-md-12 col-sm-8 university-card">
                    <header>
                        <div class="top-column">
                        <h2>
                            <a href="/schools/<%= school._id %>"><span><%= school.institution %></span></a>
                        </h2>

                        <% if(school.world_rank){ %>
                        <div class="ranking-flap world-ranking">

                            <div class="ranking">


                                <span class="institution-info__ranking-number"><%= school.world_rank %></span>

                                <sup>th</sup>

                            </div>

                            <div class="ranking-name">World University Rankings 2021</div>

                        </div>
                            <% } %>

                        <% if(school.national_rank){ %>
                        <div class="ranking-flap national-ranking">

                            <div class="ranking">


                                <span class="institution-info__ranking-number"><%= school.national_rank %></span>

                                <sup>th</sup>

                            </div>

                            <div class="ranking-name">National University Rankings 2021</div>

                        </div>

                        <% } %>
                        </div>

                        Available in:

                        <div class="btn-group btn-group-x" role="group" aria-label="Choices">
                            <% if (school.sem_1 > 0 || school.any_sem > 0) { %>
                            <button class=" btn btn-outline-primary occupied semester-button unclickable" type="button">Sem 1</button>
                            <% } else { %>
                            <button class="btn btn-outline-primary semester-button unclickable" type="button">Sem 1</button>
                            <% } %>

                            <% if (school.sem_2 > 0 || school.any_sem > 0) { %>
                            <button class="btn btn-outline-primary occupied semester-button unclickable" type="button">Sem 2</button>
                            <% } else { %>
                            <button class="btn btn-outline-primary semester-button unclickable" type="button">Sem 2</button>
                            <% } %>
                        </div>


                    </header>

                    <p>
                         <%= school.description %>
                    </p>

                    <div class="col-lg-4 col-md-12 col-sm-4">

                    </div>
                    <div class="">

                        <img class="card-img-top" src="<%= school.logoPath %>" alt="">



           
                    </div>

                </div>

                <% }); %>
            </div>




        </div>
    </div>

</div>

<%- include('../partials/footer') %>



