<%- include("../partials/header") %>

<!--Objects to pass in: current school-->


<%- include("../partials/schoolSidebar") %>

        <div class="col-md-10">

            <div class="card university-card unclickable">
                <div class="card-header header">
                    <div class="top-column">
                    <h2 class="title"><%= school.institution %></h2>
                    <div class="ranking-flap world-ranking">

                        <div class="ranking">


                            <span class="institution-info__ranking-number"><%= school.world_rank %></span>

                            <sup>th</sup>

                        </div>

                        <div class="ranking-name">World University Rankings 2021</div>

                    </div>

                    <% if(school.national_rank){ %>
                    <div class="ranking-flap national-ranking">

                        <div class="ranking">


                            <span class="institution-info__ranking-number"><%= school.national_rank %></span>

                            <sup>th</sup>

                        </div>

                        <div class="ranking-name">National University Rankings 2021</div>

                    </div>

                    <% } %>
                </div>
                </div>


            </div>
            <div class="card">

                <div class="card-body">
                    Available in:
                    <div class=" btn-group btn-group-x" role="group" aria-label="Choices">
                        <% if (school.sem_1 > 0 || school.any_sem > 0) { %>
                        <button class="semester-button btn btn-outline-primary occupied unclickable" type="button">Sem 1</button>
                        <% } else { %>
                        <button class="semester-button btn btn-outline-primary unclickable" type="button">Sem 1</button>
                        <% } %>

                        <% if (school.sem_2 > 0 || school.any_sem > 0) { %>
                        <button class="semester-button btn btn-outline-primary occupied unclickable" type="button">Sem 2</button>
                        <% } else { %>
                        <button class="semester-button btn btn-outline-primary unclickable" type="button">Sem 2</button>
                        <% } %>
                    </div>

                    <div class="header-two">Introduction</div>
                    <div>
                        <%= school.description %>
                    </div>




                </div>


            </div>
            <div class="page-url" data-test-value='http://localhost:3000/schools/<%=school._id%>'></div>
            <div id="disqus_thread"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/commentScript.js"></script>
<%- include("../partials/footer") %>